.App {
  text-align: center;
}

/* 여백 제거해주고 길이 조절 없애줌, 깔끔하게 바꿔줌. */
div { 
  box-sizing: border-box;
}

.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid gray;
}

.blue-nav {
  display: flex;
  background: rgb(103, 181, 233);
  width: 100%;
  color: white;
  padding-left: 20px;
}

.main-header {
  background-color: #975add;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.banner {
  width: 100%;
  height: 300px;
  background-image: url(/src/public/aaa.jpg);
  background-size: cover; /* 핵심코드 */
  position: relative; /* 핵심코드 */
  display : inline-block;
  margin-top: 10px;
  margin-bottom: 5%;
  max-width: 100%;
  background-repeat :no-repeat;
}

.banner-txt {
  position: absolute; /* 핵심코드 */
  top: 50%; /* 핵심코드 */
  left: 10%; /* 핵심코드 */
  transform: translate( -50%, -50%); /* 핵심코드 */
  font-size: x-large;
}